apiVersion: v1
kind: Secret
metadata:
  name: common-settings
data:
  username: BASE64_COMMON_SERVICES_USERNAME
  password: BASE64_COMMON_SERVICES_PASSWORD
  url: BASE64_COMMON_SERVICE_ENDPOINT
  cloudType: BASE64_CLOUD_TYPE
  offlineInstall: BASE64_OFFLINE_INSTALL
  fileStorage: BASE64_FILE_STORAGE
  blockStorage: BASE64_BLOCK_STORAGE  
---
apiVersion: v1
data:
  password: BASE64_GIT_API_KEY_OR_PASSWORD
  username: BASE64_GIT_USER_NAME
kind: Secret
metadata:
  annotations:
    tekton.dev/git-0: https://github.ibm.com
  labels:
    serviceAccount: pipeline
  name: git-secret
type: kubernetes.io/basic-auth
---
apiVersion: v1
kind: Secret
metadata:
  name: docker-secret
  annotations:
    tekton.dev/docker-0:  image-registry.openshift-image-registry.svc:5000
type: kubernetes.io/basic-auth
stringData:
  username: OPENSHIFT_CLUSTER_USERNAME
  password: OPENSHIFT_CLUSTER_PASSWORD
